@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lexend:wght@100..900&display=swap");

.lexend-font {
  font-family: "Lexend", sans-serif;
}
.fira-font {
  font-family: "Fira Sans", sans-serif;
}
.banner {
  background-image: url("/src/assets/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
